<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  
  <body>
    <h1>Today</h1>
    <% t = Date.today%>
    <p>The date is <%=t.strftime("%A, %B %d, %Y") %></p>
    <%# <p><%= "The date is #{t.strftime("%A, %B %d, %Y")}" %></p>
  </body> 
</html>